<!DOCTYPE html>
<html>
<head>
	<title>BookmyShow</title>
	<style type="text/css">
		body{
			background-color: #000;
		}
		h1{
			font-size: 80%;
			padding-bottom: 30px;
		}
		h2{
			font-size: 90%;
			padding-bottom: 30px;
		}
		h3{
			font-size: 50%;
			padding-bottom: 30px;
		}
		a{
			font-size: 40%;
		}
		#landing-header{
			line-height: 1.3rem;
			z-index: 1;
			position: relative;
			text-align: center;
			padding-top: 40vh;
			font-size: 80.0px;
			text-align: center;
			padding: 10%;
			color: white;
			background: rgba(0,0,0,0.7);
			text-shadow: 0px 2px 5px black,0px 4px 10px rgb(0,0,0,0.4),0px 10px 20px rgb(0,0,0,0.6);
		    font-weight: 400px;
			animation: imageAnimation 25s linear infinite;
		}
		
		@keyframes imageAnimation {
			0% {
				opacity: 0;
				animation-timing-function: ease-in;
			}
			20% {
				opacity: 1;
				animation-timing-function: ease-out;
			}
		}
	</style>
</head>
<body>
	<div id="landing-header">
		<h2>BookMyShow</h2>
		<h3>A Movie Booking App</h3>
		<a href="/index" class="btn btn-large btn-default">Book Movies</a>
	</div>
</body>
</html>


