body{
padding: 0%;
margin: 0%;
box-sizing: border-box;
}
.navbar .nav{
	margin: 5px 0;
}
.container{
	background: rgba(0,0,0,0.8);
	border-radius: 5px;
	color: white;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
.thumbnail{

	background-color: black;
}
.thumbnail .caption{
	color: white;
}
#content{
	color: white;
}
.jumbotron{
	padding: 20px;
	margin:5px  0 ;
	border-radius: 10px !important;
}
.jumbotron h1,h2{
	color: black;
	margin:0 !important;
	text-align: center;
}
.btn{
    margin:5px !important ;
}
