<%- include('../header1'); %>
	<div class="container">
	<div class="jumbotron">
		<h2>Final Ticket</h2>
	</div>
	<div class="row">
		<div id="content" class="col-lg-12">
			<table>
				<tr>
					<th>Name</th>
					<th>Email Id</th>
					<th>Contact</th>
					<th>Movie name</th>
					<th>Movie Timing</th>
					<th>Seat Booked</th>
					<th>Audi Name</th>
				</tr>
				<tr>
					<td>Admin</td>
					<td>dbijaypatro@gmail.com</td>
					<td>7735483272</td>
					<td>Thor Love and Thunder</td>
					<td>09:00 Hrs</td>
					<td>A1</td>
					<td>audi1</td>
				</tr>
				
			</table>
		</div>
	</div>
</div>


</body>
</html>


